body {
  background-color: #121212; /* 深色背景 */
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif; /* 使用更现代的字体 */
  font-size: 1.2rem; /* 略微调整字体大小 */
  line-height: 1.6; /* 增加行高以提高可读性 */
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: #ffffff; /* 白色字体 */
}

.container {
  max-width: 960px;
  margin: 20px auto; /* 增加一些外边距 */
  padding: 20px; /* 增加内部填充 */
  background-color: #1e1e1e; /* 较浅的背景色，用于与body背景区分 */
  border-radius: 8px; /* 圆角 */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3), /* 加深阴影效果 */
              0 6px 6px rgba(0, 0, 0, 0.23), /* 增加次级阴影 */
              inset 0 1px 3px rgba(255, 255, 255, 0.1); /* 内部阴影效果 */
}

/* 导入部分的 CSS 模块 */
@import "_partial/header";
@import "_partial/date";

/* 其他自定义样式 */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif; /* 标题使用衬线字体 */
  margin-bottom: 1rem;
  color: #ffffff; /* 标题颜色 */
}

p {
  margin-bottom: 1rem;
}

a {
  color: #bb86fc; /* 链接颜色 */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  background-color: #bb86fc; /* 按钮背景颜色 */
  color: #ffffff; /* 按钮文字颜色 */
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), /* 按钮阴影 */
              0 2px 4px rgba(0, 0, 0, 0.2); /* 增加次级阴影 */
  transition: background-color 0.3s ease, box-shadow 0.3s ease; /* 添加过渡效果 */
}

button:hover {
  background-color: #3700b3; /* 按钮悬停颜色 */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4), /* 按钮悬停时加深阴影 */
              0 3px 6px rgba(0, 0, 0, 0.3); /* 增加次级阴影 */
}
